@font-face {
    font-family: 'ofont_ru_CenturyGothic';
    src: url('fonts/ofont_ru_CenturyGothic.eot');
    src: url('fonts/ofont_ru_CenturyGothic.eot') format('embedded-opentype'),
         url('fonts/ofont_ru_CenturyGothic.woff2') format('woff2'),
         url('fonts/ofont_ru_CenturyGothic.woff') format('woff'),
         url('fonts/ofont_ru_CenturyGothic.ttf') format('truetype'),
         url('fonts/ofont_ru_CenturyGothic.svg#ofont_ru_CenturyGothic') format('svg');
	font-weight: normal;
    font-style: normal;
}
@-webkit-keyframes swap {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 10%;
    -webkit-transform: scale(0, 0) translate(0px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) translate(0px, 0px);;
  }
}
@keyframes swap {
  0% {
    opacity: 0;
    transform-origin: 0 10%;
    transform: scale(0, 0) translate(0px, 0px);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scale(1, 1) translate(0px, 0px);
  }
}
html{
    width: 100%;
    height: 100%;
}
* html .wrapper{
    height:100%;
}
ul {
    padding: 0;
    margin:0;
 }
li{
    list-style: none;
 }
p {
    padding: 0;
    margin: 0;
 }
a {
    text-decoration: none;
    color: #fff;
 }
* {
    box-sizing: border-box;
	-moz-box-sizing: border-box;
    font-family: "ofont_ru_CenturyGothic";
    margin: 0;
    padding: 0;
 }
:focus {
    outline: none;
}
.clearf:after{
    content: "";
	display: table;
	clear: both;
}
.clearf:before{
    content: "";
	display: table;
}
body{
    background: url('img/bg.png');
    width: 100%;
	font-size: 14px;
	line-height: 1.42;
	font-family: 'helvetica';
	height: 100%;
    text-align: center;
}
h1 {
    font-size: 55px;
	font-weight: bold;
	line-height: 1.5;
}
h2{
    font-size: 24px;
}
.wrapper{
    min-height: 100%;
	height : auto !important ; 
    height : 100% ;
    margin: 20px auto;
    text-align: left;
	color:white;
	width: 935px;
	-webkit-box-shadow: 0px 0px 5px 1px #000000;
    box-shadow: 0px 0px 5px 1px #000000;
}
.container{
    width: 935px;
    margin: 0 auto;
}
.chromeframe{
    background-color: aliceblue;
    font-size: 22px;
    padding: 5px;
}
.chromeframe a{
    color:red;
}
/*------------------------header----------------------------*/
.head{
    background: url('img/bg_cont.png') #D3D4D5;
	margin-bottom: 40px;
    -webkit-animation: swap 3s;
    animation: swap 3s;
}
.head_logo{
    border-bottom: 5px solid #e4e5e7;
}
.logo {
    width: 25%;
	float: left;
	padding: 5px 10px;
}
.logo img{
    max-width: 95%;
	width : expression ( 
    document.body.clientWidth > 95? "95%" : "auto" 
  );
}
.logo_text{
	text-align: right;
    margin: 28px 15px;
	font-weight: bold;
}
.logo_text a{
    color: #1E00FF;
    font-size: 61px;
    letter-spacing: 47px;
}
.logo_text .up {
    letter-spacing: 70px;
    position: relative;
    right: -19px;
    font-size: 17px;
    color: red;
}
.logo_text .down {
    letter-spacing: 17px;
    position: relative;
    right: 34px;
    font-size: 12px;
    color: red;
}
.menu{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#686868+0,343334+100 */
background: #686868; /* Old browsers */
background: -moz-linear-gradient(top,  #686868 0%, #020202 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #686868 0%,#020202 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #686868 0%,#020202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#020202',GradientType=0 ); /* IE6-9 */

}
.menu_head{
    font-size: 0px;
}
.menu_head li{
    display: inline-block;
	border-right: 1px solid #4E4D4E;
    font-size: 14px;
}
.menu_head li a{
    color:white;
    display: block;
    padding: 5px 10px 10px 10px;
	border-top: 5px solid #626162;
}
.menu_head li a:hover{
    border-top: 5px solid #e4e5e7;
	background-color: #65b19c;
	color: #000;
	transition: all 0.5s ease 0s;
}
/*------------------------slider----------------------------*/
.slider{
    max-height: 870px;
	    height: 870px;
   	margin-bottom: 40px;
	-webkit-animation: swap 5s;
    animation: swap 5s;
}
.slider img{
    height: 840px;
    margin: auto;
}
.slogan{
    font-size: 12px;
    color: #4784FF;
    font-style: italic;
    text-align: center;
    background-color: #EFEDED;
	border: 2px solid white;
}
/*-------------CONTENT--------------*/
.cont_wrapp{
    background: url('img/bg_cont.png') #D3D4D5;
    color: #000;
    text-align: left;
	padding: 10px;
	min-height: 100%;
	height : auto !important ; 
    height : 100% ;
	-webkit-animation: swap 2s;
    animation: swap 2s;
}
.content{
	width:625px;
	float: left;
}
.about{
    margin: 0PX 0PX 40PX 20PX;
}
.schort {
    margin-bottom: 20px;
    height: 171px;
}
.schort_title{
    font-size: 115%;
    font-weight: bold;
}
.schort_img{
    float: left;
    margin: 0px 20px 10px 0px;
	width:205px; 
	height: 135px; 
}
.schort_img img {
    max-width: 205px;
	width : expression ( 
    document.body.clientWidth > 95? "95%" : "auto" 
  );
}
.schort_text{
    padding-left: 225px;
}
.harmonica-menu a, .harmonica-menu h3 {
    display: block;
    padding: 5px 5px 5px 15px;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
    margin: 0;
}
.harmonica-menu h3 {
	background: #454545;
    color: white;
    text-decoration: none;
    border-bottom: 2px white solid;
}
.open {
    background: #9F9EA3 !important;
	transition: all 0.5s ease 0s;
}
.harmonica-menu-hidden {
    display: none;
    padding: 5px 5px 5px 20px;
} 
.harmonica-menu-hidden a {
    font-weight: normal;
    padding: 5px;
}
.sidebar{
	width:290px;
	float: right;
	padding-left: 20px;
	-webkit-animation: swap 4s;
    animation: swap 4s;
}
.side_border{
	padding-left: 20px;
    border-left: 1px solid #A49E9E;
}
.side_block{
    margin-bottom: 20px;
	font-style: italic;
}
.link_part {
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    padding: 5px;
	/*height: 60px;*/
    text-align: center;
}
.link_part li {
    display: inline-block;
}
/*.link_part a{
    width: 20px;
    height: 20px;
    display: block;
    background: red;
    color: #fff;
    border-radius: 5px;
}
.link_part a:hover{
    width: 22px;
    height: 22px;
	font-size:17px;
	margin: -3px -1px 0px -1px;
}*/
/*------------------------------form-------------*/
.form {
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 25px;
    top: 40px;
}
input.input-form {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
textarea.input-form {
    width: 100%;
}
.css3button2 {
    width: 100%;
    height: 35px;
    cursor: pointer;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.css3button2:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
input:invalid {
    border: 1px solid red;
}
input:valid {
    border: 1px solid #DDDDDD;
}
.input-form-file {
    width: 100%;
    margin: 10px 0px 20px 0px;
    color: white;
}
.arrow_box {
	position: relative;
	background: url('img/bg.png');
	border: 4px solid #c2e1f5;
	margin-bottom: 50px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(58, 58, 58, 0);
	border-bottom-color: #3a3a3a;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
/*---------------footer-----------------*/
.footer{
    background: #232123;
    padding: 10PX 0PX 10PX 0PX;
    text-align: center;
    color: #fff;
    margin-bottom:0px;
}
.up-to{
    position: fixed;
    right: 0px;
    top: 55%;
    border: 2px ridge;
    font: 35px arial;
    opacity: 0.5;
}
.up-bott{
    position: fixed;
    right: 0px;
    top:63%;
    border: 2px ridge;
    font: 31px arial;
}
.up-to:hover{
    opacity: 1.0;
    border: 2px ridge;
    color: #fff;
}